[submodule "redshift"]
	path = redshift
	url = https://github.com/blastmaster/awesome-redshift
[submodule "tyrannical"]
	path = tyrannical
	url = https://github.com/Elv13/tyrannical
[submodule "vicious"]
	path = vicious
	url = https://github.com/Mic92/vicious
[submodule "net-widgets"]
	path = net-widgets
	url = https://github.com/plotnikovanton/net_widgets.git
[submodule "net_widgets"]
	path = net_widgets
	url = https://github.com/plotnikovanton/net_widgets.git
